html {overflow-y: scroll; overflow-x: hidden;}
* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Arial, Helvetica, sans-serif;}
ul,li {list-style: none;}
img {border: 0; vertical-align: top; max-width: 100%; max-height: 100%;     border: none;}
a {text-decoration: none; color: #494949;}
a:link {color: #494949;}
/* a:visited {color: #494949;} */
b,strong{font-weight: 600;}
em,i{font-style: normal;}
.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}
.cf:after{content: ""; display: block; clear: both;}
.overflow-h{overflow:hidden;}
.pr{position: relative;}
.pa{position: absolute;}

.w100{width: 100%;}
.w1240{max-width: 1240px; width: 100%; margin: auto;}
.w1400{max-width: 1400px; width: 100%; margin: auto;}
.bg1{background: #3778DC;}
.inner{padding: 0 30px;}

/* skip menu */
.skipmenu{
    position: relative;
    background-color: #333;
    z-index: 999999;
}
.skipmenu a{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #fff;
    padding: 10px 25px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    background: #000;
}
.skipmenu a:link{
    color: #333;
    text-decoration: none;
}
.skipmenu a:active,.skipmenu a:focus{
    top: 0;
}

/* header-top */
#header-top{
    border-bottom: 1px solid rgba(255,255,255,.2);
}
#header-top ul{
    height: 50px;
    text-align: center;
}
#header-top ul li{
    display: inline-block;
    height: 100%;
    padding: 0 5px;
}
#header-top ul>li>a{
    display: block;
    height: 100%;
    line-height: 1;
    padding: 25px 15px 0;
    font-size: 14px;
    color: #ffffff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

/* header-gnb 시작 */
#header-gnb{
    height: 90px;
    min-height: 90px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

/* logo-wrap */
#header-gnb > .logo-wrap{
    display: inline-block;
    position: absolute;
    z-index: 11;
    padding: 27.5px 30px 0;
    vertical-align: top;
}
#header-gnb > .logo-wrap > a{
    display: inline-block;
    vertical-align: top;
}
#header-gnb > .logo-wrap > a > span{
    display: inline-block;
    width: 95px;
    height: 35px;
    background-image: url(../images/header-gnb/logo.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    vertical-align: top;
    font-size: 0;
}
#header-gnb > .logo-wrap > a > em{
    display: inline-block;
    line-height: 31px;
    margin-left: 15px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.07em;
}



.depth1{
    width: 100%;
    height: inherit;
    /* background: #3679DC; */
    margin-right: 50px;
    display: inline-block;
    text-align: right;
}
.depth1 > li {
    display: inline-block;
    vertical-align: top;
}

.depth1 > li > a{
    display: block;
    font-size: 18px;
    height: 100%;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
    font-weight: 700;
}
.depth1 > li > a > span {
    display: inline-block;
    height: 100%;
    padding: 0 25px;
    line-height: 90px;
    vertical-align: middle;
}

/* hover 시 보이도록 */
.depth1 > li:hover .depth2 {
    display: block;
}

.depth2{
    display: none;
    transition: height 3s;
}

/* depth2 */
.depth1 .w100{
    z-index: 9999;
}
.depth2{
    background: #fff;
}
.depth1 .w100.pa{
    left: 0;
    top: 90px;
    height: auto;
}
.depth1 .w100.pa > .depth2 > ul{
    width: 1010px;
    min-height: 430px;
    padding: 70px 0 50px;
}
.depth1 .w100.pa > .depth2 > ul > li{
    display: block;
    width: 33.33%;
    padding: 0 0 0 30px;
    margin: 0 0 20px;
    text-align: left;
}
.depth1 .w100.pa > .depth2 > ul > li > a{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    min-height: 55px;
    margin: 0 0 15px;
    color: #00274e;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
}
.depth1 .w100.pa > .depth2 > ul > li > a > span{
    display: block;
    padding: 17px 24px 17px 20px;
}


/* depth2 - gnb-title */
.depth1 .w100.pa > .depth2 > .gnb-title{
    width: 230px;
    min-height: 430px;
    overflow: hidden;
    text-align: left;
    background: #DEECFF;
}
.depth1 > li:nth-child(3) > .w100.pa > .depth2 > .gnb-title{
    min-height: 488px;
}

.depth1 .w100.pa > .depth2 > .gnb-title:before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #DEECFF 50%, #ffffff 51%) #DEECFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.depth1 .w100.pa > .depth2 > .gnb-title > strong{
    display: block;
    margin: 70px 0 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'S-Core Dream';
    color: #00274e;
}
.depth1 .w100.pa > .depth2 > .gnb-title > p{
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: 'S-Core Dream';
    color: #222;
    line-height: inherit;
    font-weight: 300;
}
.depth1 .w100.pa > .depth2 > .gnb-title::after{
    position: relative;
    top: 30px;
    display: block;
    background: url(../images/header-gnb/gnb_obj.png);
    width: 235px;
    height: 204px;
    z-index: 9999;
    content: '';
}

/* depth3 */
.depth1 .depth2 > ul > li > .depth3{
    display: block;
    overflow: hidden;
}
.depth1 .depth2 > ul > li > .depth3 > li{
    width: 100%;
    margin: 3px 0;
    padding: 0 20px 0 35px;
}
.depth1 .depth2 > ul > li > .depth3 > li > a{
    width: 100%;
    font-size: 16px;
    color: #666;
    vertical-align: top;
}
.depth1 .depth2 > ul > li > .depth3 > li > a >span::before{
    content: '·';
    color: #3778DC;
}

/* header-banner */
#header-banner{
    overflow: hidden;

}
#header-banner:before{
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: -50px;
    width: 150vw;
    height: 990px;
    background: #3779dc;
    background: #3779dc url(../images/header-banenr/mvisual_bg.png) no-repeat center bottom;
    background-size: auto;
    border-radius: 50%;
    transform: translateX(-50%);
    background-size: 0;
    background-size: 1920px;
    content: '';
    animation: b-size 2s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 0s;
    animation-delay: .5s;
    z-index: -3;
}
#header-banner::after{
    position: absolute;
    top: 0;
    z-index: -3;
    width: 100%;
    height: 20%;
    background: #3779dc;
    content: '';
}
#header-banner > .mvisual > .title{
    padding-top: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: 'S-Core Dream';
}
#header-banner > .mvisual > .title > p{
    font-weight: 600;
}
#header-banner > .mvisual > .title > strong{
    display: block;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
}
#header-banner > .mvisual > .title b{
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: middle;
    animation: top-bottom .8s both;
    animation-delay: 0s;
}
#header-banner > .mvisual > .title b:nth-child(1){
    background: url(../images/header-banenr/mvisual_tit1.png);
    width: 206px;
    height: 71px;
    font-size: 0;
    display: inline-block;
    top: -4px;
}
#header-banner > .mvisual > .title b:nth-child(2){
    background: url(../images/header-banenr/mvisual_tit2.png);
    width: 275px;
    height: 144px;
    font-size: 0;
    display: inline-block;
    top: -12px;
    left: -30px;
}
#header-banner > .mvisual > .photo-slider{
    position: relative;
    height: 100%;
    padding: 0 99px;
    margin-bottom: 80px;
}
#header-banner > .mvisual > .photo-slider > .photo > span{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 667px;
    border-radius: 0 0 180px 0;
    z-index: -1;
}
#header-banner > .mvisual > .photo-slider > .photo > span > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#header-banner > .mvisual > .photo-slider > .pager > .pager-txt > strong{
    display: block;
    margin-top: 30px;
    margin-left: 24px;
    font-size: 20px;
    color: #000000;
    line-height: 1.2;
    font-family: 'S-Core Dream';
    font-weight: normal;
}
#header-banner > .mvisual > .photo-slider > .pager > .pager-txt > strong::before{
    display: inline-block;
    position: relative;
    top: -3px;
    width: 22px;
    height: 28px;
    margin-right: 10px;
    background: url(../images/header-banenr/main_ir.png);
    vertical-align: middle;
    content: '';
}

#header-banner > .mvisual > .photo-slider > .pager > .pager-txt > strong > b{
    display: inline-block;
    position: relative;
    padding-right: 25px;
    color: #1053a5;
    font-weight: bold;
    font-size: 23px;
}
#header-banner > .mvisual > .photo-slider > .pager > .pager-txt > strong > b::before{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 1px;
    height: 19px;
    background: #7f7f7f;
    transform: translateY(-50%);
    content: '';
}
#header-banner .photo-slider .pager .slider-progress{
    width: 433px;
    height: 3px;
    background-color: #ccc;
    max-width: 600px;
    position: absolute;
    overflow: hidden;
    bottom: 16px;
    right: 408px;
    z-index: 10;
}
#header-banner .photo-slider .pager .slider-progress > .progress{
    width: 50%;
    height: 5px;
    background: #3b5494;
    position: absolute;
}
#header-banner .photo-slider .pager .slick-counter{
    position: absolute;
    bottom: 0;
    right: 296px;
    z-index: 10;
    font-size: 24px;
    color: #7b7b7b;
    font-weight: normal;
}
#header-banner .photo-slider .pager .slick-counter > .current{
    color: #4d609a;
}
#header-banner .photo-slider .pager .slider-control{
    position: absolute;
    bottom: 0;
    right: 170px;
}
#header-banner .photo-slider .pager .slider-control > button{
    background: #4d647a;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
}
#header-banner .photo-slider .pager .slider-control > .prev::before{
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    content: '';
    position: absolute;
    border-width: 2px 2px 0 0;
    transform: rotate(-135deg);
    top: 10px;
    left: 12px;
}
#header-banner .photo-slider .pager .slider-control > .pause::before,#header-banner .photo-slider .pager .slider-control > .pause::after{
    content: '';
    position: absolute;
    top: 28%;
    background: #fff;
    width: 2px;
    height: 50%;
}
#header-banner .photo-slider .pager .slider-control > .pause::before{
    left: 11px;
}
#header-banner .photo-slider .pager .slider-control > .pause::after{
    right: 11px;
}

#header-banner .photo-slider .pager .slider-control > .next::before{
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    content: '';
    position: absolute;
    border-width: 0 0 2px 2px;
    transform: rotate(-135deg);
    top: 10px;
    left: 8px;
}
#header-banner .photo-slider .pager .more{
    display: block;
    width: 34px;
    height: 34px;
    background: #1053a5;
    border-radius: 50%;
    position: absolute;
    right: 110px;
    bottom: 0;
}
#header-banner .photo-slider .pager .more:before,#header-banner .photo-slider .pager .more:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#header-banner .photo-slider .pager .more:before{
    height: 2px;
    width: 12px;
    background: #fff;
}
#header-banner .photo-slider .pager .more:after{
    height: 12px;
    width: 2px;
    background: #fff;
}



/* main-title 공통 */
main .cont-title{
    text-align: center;
}
main .cont-title > strong{
    display: block;
    margin-bottom: 5px;
    color: #222222;
    font-size: 55px;
    font-family: 'S-Core Dream';
    font-weight: lighter;
    text-align: center;
    line-height: 1;
}
main .cont-title > p{
    font-size: 16px;
}

/* content1 */
.content1{
    position: relative;
    margin-bottom: 140px;
    padding-top: 90px;
}
.content1 .tab-list > ul{
    margin: 25px 0 25px;
    text-align: center;
}
.content1 .tab-list > ul > li{
    display: inline-block;
    margin: 0 5px;
}
.content1 .tab-list > ul > li > a{
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 0 24px;
    background: #71879b;
    border-radius: 30px;
}
.content1 .tab-list > ul > li:first-child > a{
    background: #1053a5;
}

.content1 .tab-list > ul > li > a > span{
    width: 24px;
    background-position: -26px 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 28px;
    margin-right: 5px;
    background: url(../images/content1/main_ir.png);
    vertical-align: middle;
    content: '';
}
.content1 .tab-list > ul > li > a > b{
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: #fff;
    line-height: 51px;
    font-weight: normal;
}
.content1 .tab-list > ul > li > a > .icon1{
    width: 24px;
    background-position: -26px 0;
}
.content1 .tab-list > ul > li > a > .icon2{
    width: 32px;
    background-position: -53px 0;
}
.content1 .tab-list > ul > li > a > .icon3{
    width: 31px;
    background-position: -89px 0;
}
.content1 .tab-list > ul > li > a > .icon4{
    width: 24px;
    background-position: -121px 0;
}


.content1 .img-item{
    overflow: hidden;
    position: relative;
    height: 460px;
}
.content1 .img-item > ul{
    position: absolute;
    left: 0;
    top: 10px;
    width: 200%;
}
.content1 .img-item > ul > .item{
    overflow: hidden;
    float: left;
    width: 257px;
    max-width: 350px;
    min-height: 328px;
    margin-right: 29px;
    border-radius: 17px;
    box-shadow: 10px 0 15px rgb(0 0 0 / 15%);
    transition: all .5s;
}
.content1 .img-item > ul > .item > a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0 0 30px 0;
    transition: top .5s;
}

.content1 .img-item > ul > .item > a > .thumb{
    overflow: hidden;
    position: relative;
    height: 210px;
}
.content1 .img-item > ul > .item > a > .thumb > img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%,-50%);
}
.content1 .img-item > ul > .item > a > .thumb::after{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 26px;
    background: url(../images/content1/item_imgbg.png);
    content: '';
}
.content1 .img-item > ul > .item > a > .txt{
    position: relative;
    background: #fff;
    padding: 20px 15px;
    text-align: center;
}
.content1 .img-item > ul > .item > a > .txt > strong{
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
.content1 .img-item > ul > .item > a > .txt > p{
    overflow: hidden;
    margin: 0;
    line-height: 1.4;
    color: #666666;
}

/* content2 */
.content2{
    padding-bottom: 195px;
}
.content2 .photo-list-wrap{
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0 100px;
}
.content2 .photo-list-wrap > .photo-list-slider{
    position: relative;
    width: 599px;
    height: auto;
    margin-left: -20px;
    /* padding: 20px 0px !important; */

    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgb(0 0 0 / 30%);
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap{
    position: relative;
    height: auto;
    min-height: 230PX;
    padding: 65px 30px 30px 230px;
}

.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > .thumb{
    overflow: hidden;
    display: block;
    position: absolute;
    left: 35px;
    top: 45px;
    width: 165px;
    height: 165px;
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > .thumb > img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
}

.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > strong{
    display: block;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    font-family: 'S-Core Dream';
    line-height: 1.4;
}

.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > strong > b{
    color: #089788;
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > ul{
    margin-top: 28px;
}

.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > ul > li{
    position: relative;
    min-height: 25px;
    margin-bottom: 8px;
    padding-left: 20px;
    font-size: 16px;
    color: #444444;
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap > ul > li > span{
    width: 16px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
    height: 19px;
    background: url(../images/main_ir.png);
    vertical-align: middle;
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap li:nth-child(1) > span{
    background-position: 0 -30px;
}
.content2 .photo-list-wrap > .photo-list-slider > .img_wrap li:nth-child(2) > span{
    background-position: -17px -30px;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn{
    display: table;
    position: relative;
    left: 0;
    right: -1px;
    bottom: -1px;
    width: 100%;
    max-width: 100%;
    border: 1px solid transparent;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn > li{
    display: table-cell;
    position: relative;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn > li > a{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #089788;
    text-align: center;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn > li > a > span{
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 24px;
    margin-right: 10px;
    background: url(../images/main_ir.png);
    vertical-align: middle;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn > li > a > .icon1{
    width: 26px;
    background-position: -35px -29px;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn > li > a > .icon2{
    width: 25px;
    background-position: -61px -29px;
}
.content2 .photo-list-wrap > .photo-list-slider > ul.btn > li > a > b{
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: #fff;
    line-height: 89px;
    font-weight: bold;
    text-align: center;
}

.content2 .photo-list-wrap > .photo-map{
    position: absolute;
    right: -100px;
    top: -190px;
    width: 648px;
    height: 756px;
    background: url(../images/content2/map.png);
}

/* content3 */
.content3{
    position: relative;
    margin-top: 180px;
    padding-bottom: 110px;
    background: #3ca479;
}
.content3 .cont-title strong,.content3 .cont-title p{
    color: #fff;
}

.content3::before{
    position: absolute;
    left: 50%;
    top: -11%;
    width: 200%;
    height: 100%;
    background: #3ca479;
    border-radius: 107%;
    transform: translateX(-50%);
    content: '';
    z-index: -1;
}
/* 박스 공통 */
.content3 .box-wrap{
    margin: 30px 100px 45px;
    border-radius: 100px 0 100px 0;
    box-shadow: 10px 0 20px rgb(0 0 0 / 30%);
}
.content3 .box-wrap > .box{
    float: left;
    position: relative;
    width: 33.333%;
    height: 258px;
}
.content3 .box-wrap > .box1{
    height: 516px;
    padding: 55px 60px;
    background: #cf9820;
    border-radius: 100px 0 0 0;
}
.content3 .box-wrap > .box > strong{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 24px;
    font-family: 'S-Core Dream';
    line-height: 1.2;
}
.content3 .box-wrap > .box > p{
    font-size: 15px;
    color: #fff;
    line-height: 1.3;
}

.content3 .box-wrap > .box > ul{
    margin-top: 50px;
}


/* box1 */

.content3 .box-wrap > .box1 > ul > li{
    position: relative;
    z-index: 9;
    margin-bottom: 15px;
}
.content3 .box-wrap > .box1 > ul > li > button{
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 0 80px;
    background: #eaaf00;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-family: 'S-Core Dream';
    line-height: 58px;
    text-align: left;
}
.content3 .box-wrap > .box1 > ul > li > button > span{
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 100%;
    background: #fff;
    border-radius: 0;
}
.content3 .box-wrap > .box1 > ul > li > button > span::before{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 29px;
    background: url(../images/main_ir.png);
    transform: translate(-50%, -50%);
    content: '';
}
.content3 .box-wrap > .box1 > ul > li > button > .icon1::before{
    width: 23px;
    background-position: -96px -27px;
}
.content3 .box-wrap > .box1 > ul > li > button > .icon2::before{
    width: 23px;
    background-position: -122px -27px;
}
.content3 .box-wrap > .box1 > ul > li > button > .icon3::before{
    width: 21px;
    background-position: -148px -27px;
}

.content3 .box-wrap > .box1 > ul > li > button::after{
    position: absolute;
    right: 20px;
    top: 40%;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg) translateY(-50%);
    content: '';
}
.content3 .box-wrap > .box1 > ul > li > ul{
    top: 47px;
    right: 0;
    left: auto;
    z-index: 1;
    width: calc(100% - 57px);
    padding: 4px 0 0;
    background: #eaaf00;
    border-radius: 0 0 10px 10px;
    border: 2px solid #fff;
    box-shadow: 5px 0 15px rgb(0 0 0 / 20%);
}
.content3 .box-wrap > .box1 > ul > li > ul a{
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    clear: both;
    font-weight: 400;
    white-space: nowrap;
    display: block;
    line-height: 1.4;
}
.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    min-width: 160px;
    margin: 2px 0 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    font-size: 14px;
}
.content3 .box-wrap > .box1 > ul > li:hover .dropdown-menu{
    display: block;
}


.content3 > .inner > .box-wrap > .box1 > a{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 0;
    background: #bc6c05;
    border-radius: 30px;
    line-height: 51px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

/* 박스2 + (박스 4개 공통) */
.content3 .box-wrap > .box > a{
    display: block;
    padding: 55px 45px;
}
.content3 .box-wrap > .box strong{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 24px;
    font-family: 'S-Core Dream';
    line-height: 1.2;
}
.content3 .box-wrap > .box p{
    font-size: 15px;
    color: #fff;
    line-height: 1.3;
}
.content3 .box-wrap > .box b{
    display: inline-block;
    margin-top: 55px;
    padding: 0 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    line-height: 35px;
    font-weight: 500;
    border-radius: 30px;
}
.content3 .box-wrap > .box b::after{
    display: inline-block;
    position: relative;
    top: -1px;
    width: 14px;
    height: 10px;
    margin-left: 5px;
    background: url(../images/main_ir.png) -175px -49px;
    vertical-align: middle;
    content: '';
}
.content3 .box-wrap > .box span{
    position: absolute;
    right: 30px;
    bottom: 35px;
    border-radius: 50%;
}
.content3 .box-wrap > .box2{
    background: #008ce5;
}
.content3 .box-wrap > .box2 span{
    width: 137px;
    height: 129px;
    background: url(../images/content3/box2_bg.png);
}

/* box3 */
.content3 .box-wrap > .box3{
    background: #06bfcb;
}
.content3 .box-wrap > .box3 span{
    width: 163px;
    height: 128px;
    background: url(../images/content3/box3_bg.png);
}

/* box4 */
.content3 .box-wrap > .box4{
    background: #1b63c4;
}
.content3 .box-wrap > .box4 span{
    width: 114px;
    height: 114px;
    background: url(../images/content3/box4_bg.png);
}

/* box5 */
.content3 .box-wrap > .box5{
    background: #4f72d6;
    border-radius: 0 0 100px 0;
}
.content3 .box-wrap > .box5 span{
    width: 114px;
    height: 114px;
    background: url(../images/content3/box5_bg.png);
}

/* 공지사항 */
.content3 .noti-slide{
    position: relative;
    height: 80px;
    margin: 0 100px;
    padding: 0 60px 0 160px;
    border-radius: 20px;
    border: 2px solid #fff;
}
.content3 .noti-slide > strong{
    display: block;
    position: absolute;
    left: 30px;
    top: 52%;
    font-size: 24px;
    color: #f6e200;
    font-family: 'S-Core Dream';
    transform: translateY(-50%);
    line-height: 1.2;
}
.content3 .noti-slide > a{
    position: absolute;
    left: 129px;
    top: 50%;
    width: 28px;
    height: 28px;
    background: #197d60;
    border-radius: 50%;
    transform: translateY(-50%);
}
.content3 .noti-slide > a::before{
    height: 2px;
    width: calc(100%/2);
    background: #fff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.content3 .noti-slide > a::after{
    width: 2px;
    height: calc(100%/2);
    background: #fff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.content3 .noti-slide > .grap{
    overflow: hidden;
    position: relative;
    height: calc(100% - 50px);
    margin: 25px 0 25px;
}
.content3 .noti-slide > .grap > ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.content3 .noti-slide > .grap > ul > li{
    overflow: hidden;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    margin-bottom: 10px;
    padding: 0 30px;
}
.content3 .noti-slide > .grap > ul > li > a{
    display: block;
    position: relative;
    height: 100%;
    padding: 2px 0;
    padding-right: 100px;
    padding-left: 11px;
    color: #fff;
    font-size: 14px;
}
.content3 .noti-slide > .grap > ul > li > a:before{
    position: absolute;
    left: 0;
    top: 10px;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    content: '';
}
.content3 .noti-slide > .grap > ul > li > a > em{
    font-style: normal;
    position: absolute;
    right: 0;
    top: 5px;
}
/* icon-wrap */
.content3 .icon-wrap{
    margin-top: 65px;
    text-align: center;
}
.content3 .icon-wrap > li{
    display: inline-block;
    padding: 0 25px;
    text-align: center;
}
.content3 .icon-wrap > li > a{
    display: block;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}
.content3 .icon-wrap > li > a::before{
    position: absolute;
    left: 50%;
    top: -13px;
    z-index: 0;
    width: 127px;
    height: 127px;
    background: #63b58f;
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
    content: '';
    transition: all .5s;
}

.content3 .icon-wrap > li > a > span{
    display: block;
    position: relative;
    z-index: 1;
    width: 102px;
    height: 102px;
    margin: 0 auto 15px;
    background: url(../images/header-banenr/main_ir.png);
}
.content3 .icon-wrap > li > a > .icon1{
    background-position: 0 -67px;
}
.content3 .icon-wrap > li > a > .icon2{
    background-position: -102px -67px;
}
.content3 .icon-wrap > li > a > .icon3{
    background-position: -205px -67px;
}
.content3 .icon-wrap > li > a > .icon4{
    background-position: -307px -67px;
}
.content3 .icon-wrap > li > a > .icon5{
    background-position: -409px -67px;
}
.content3 .icon-wrap > li > a > .icon6{
    background-position: -511px -67px;
}
.content3 .icon-wrap > li > a > .icon7{
    background-position: -613px -67px;
}

/* footer */
footer{
    margin-top: -37px;
    padding-top: 90px;
    background: url(../images/footer/footer_bg.png) center top;
    background-size: cover;
    position: relative;
    z-index: 20;
    padding: 45px 0;
    text-align: center;
}

footer .utile-wrap{
    margin: 20px 0 10px;
    clear: none;
}
footer .utile-wrap > li{
    display: inline-block;
    position: relative;
    margin-right: 30px;
    vertical-align: top;
}
footer .utile-wrap > li > a{
    display: block;
    width: 100%;
    height: 24px;
    font-size: 14px;
    color: #fff;
}
footer .utile-wrap > li:first-child > a{
    font-weight: bold;
}
footer .utile-wrap > li > a::after{
    display: block;
    position: absolute;
    top: 5px;
    right: -17px;
    width: 1px;
    height: 15px;
    background: #fff;
    content: '';
    vertical-align: top;
}
footer address{
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
}
footer address > span > a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
footer p{
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

footer p::before{
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    margin: -2px 15px 0 10px;
    background: rgba(255,255,255,.5);
    vertical-align: middle;
}

/* top-button */
#back-to-top{
    position: fixed;
    bottom: 3em;
    right: 3em;
    background: rgba(255,255,255,.9);
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.25);
	display: inline-block;
	font-size: 0.75em;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
#back-to-top.visible{
	opacity: 1;
}
#back-to-top:hover{
	background-color: rgba(255,255,255,.1);
	padding: 1em 3em;
}