*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 전체 레이아웃 */
#wrap{
    font-size: 10px;
    color: #666;
    text-align: center;
}
.header{width: 100%; height: 840px; background: chartreuse;}
.contents{width: 100%; height: 700px; background: hotpink;}
.footer{width: 100%; height: 100px; background: yellow;}
.header-top{width: 100%; height: 50px; background: rgba(0,0,0,.3);}
.header-nav{width: 100%; height: 90px; background: rgba(0,0,0,.3);}
.banner{width: 100%; height: 700px; background: rgba(0,0,0,.3);}
.content1{width: 100%; height: 350px; background: rgba(0,0,0,.3);}
.content2{width: 100%; height: 350px; background: rgba(0,0,0,.3);}
.footer{width: 100%; height: 100px; background: rgba(0,0,0,.3);}
.inner{
    width: 1400px;
    max-width: 1600px;
    margin: auto;
    background: rgba(255,255,255,.5);
    height: inherit;
}